body {
  background: linear-gradient(0deg, #d5ecee 50%, #d0bcce 50%);
  background-repeat:no-repeat;
  background-color: #d5ecee ;
}

h2{
  text-align: center;
  font-family: soleil, sans-serif;
  font-size: 18vw;
  color: var(--text_green);
  margin-bottom:0;
  font-weight: 700;
}

.curve1{
  background-color:#ef7fa4;
  font-size: 0;
}

.curve1 #topcurve{
  margin-top:-50px;
  display: inline-block;
}

.curve1 #secondcurve{
  margin-top:-200px;
  display: inline-block;
  background-color: red;
}

#curve{
  fill: transparent;
}


.slimBar{
  background-color: #2cb7b5;
  width: 55vw;
  margin: auto;
  border-radius: 1vw;
  height: 2vw;
  margin-top: 3vw;
}
		

	
.introtext{
  background-color: #e4e7d6;
  display: inline-block;
  margin-top: -1px;
  margin-bottom:-1px;
  padding-top:5vw;
  padding-bottom:4vw;
}	

.intro{
  margin-top: -27vw;
}

.bars{
  position: relative;
  margin-top:-15vw;
  top: 35vw;
}

.hello{
  width:60%;
  margin: 0 auto;
  margin-top: 8vw;
}