body {
  height: 100%;
  margin: 0;
  font-synthesis: none;
}

:root {
  --text_green: #11615e;
}

@font-face {
  font-family: soleil;
  src: url(./fonts/SoleilRegular.otf);
}

@font-face {
  font-family: snowynight;
  src: url(./fonts/SnowyNight.ttf);
}

p{
  font-family: soleil, sans-serif;
  text-align: center;
  font-size: 7vw;
  margin: 0 10vw 0 10vw;
}

h3{
  font-family: soleil, sans-serif;
  font-size: 7vw;
  font-weight: normal;
  margin-top:0;
}


.nav{
  position: relative;
  overflow: hidden;
}

.topnav a {
  color: var(--text_green);
  font-family: poppins, sans-serif;
  padding: 2.5vw 5vw;
  text-decoration: none;
  font-size: 10vw;
  display: block;
}

.topnav #links{
  display: none;
  text-align: right;
  
  

}

.topnav #links a{
  font-family: soleil, sans-serif;
    background-color: #ede5ec;
	margin-bottom: 2vw;
	color: #2b4149;
	font-size: 7vw;
	line-height: 13vw;
}

.burger{ 
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
}

.line {
  background-color: var(--text_green);
  width: 7vw;
  height: 1vw;
  margin: 1vw 0;
}


.button{
  text-align: center;
  background-color: #2cb7b5;
  width: 80vw;
  margin: auto;
  border-radius: 5vw;
  height: 10vw;
  line-height: 10vw;
  border:none;
}

.button a{
  text-decoration: none;
  color: white;
}

.button:hover{
  background-color:#85CCD0;
}